input {
  all: unset;
}

textarea {
  all: unset;
}

.contactUsContainer {
  text-align: center;
  margin-top: 32px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-inline: 8rem;
}
.names {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 16px;
}
.fName {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 24px;
}

.contactInput {
  text-align: left;
  margin-left: 16px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
}

.email {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 24px;
  text-align: left;
  align-items: center;
}

.subject{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

.subjectInput{
  text-align: left;
  border-radius: 4px;
  border: 1px solid #ccc;
  flex: 1;
  min-height: 96px;
  margin-top: 8px;
  max-width: 100%;
  min-width: 100%;
  padding: 8px;
}

.contactInput:focus{
  border: 2px solid #004697;
}

.subjectInput:focus{
  border: 2px solid #004697;
}

.buttonEnviar {
  display: inline-block;
  border-radius: 4px;
  background-color: #004697;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 24px;
}
.buttonEnviar span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonEnviar span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonEnviar:hover span {
  padding-right: 25px;
}

.buttonEnviar:hover span:after {
  opacity: 1;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .contactInfo {
    padding-inline: 24px;
  }
  .fName {
    flex-direction: column;
    flex: 1;
    margin-top: 16px;
  }
  .names{
    flex-direction: column;
  }
  .contactInput {
    margin-left: 0;
    margin-top: 8px;
    width: 100%;
  }
  .contactUsContainer{
    margin-inline: 24px
  }
  .email{
    flex-direction: column;
  }
  .subject{
    margin-top: 16px;
  }

}
