footer{
    background-color: #006733;
    width: 100%;
    margin-top: 24px;
}

.content{
    padding: 30px 40px 40px;
    flex-direction: row;
    display: flex;
}

.rightsText{
    display: flex;
    flex: 1;
    color: #FFFFFF;
}


.informationText{
    color: #FFFFFF;
} 

@media screen and (max-width: 600px) {
    .content{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    
}