.carousel-img {
  /* height: 100vh; */
  width: 100%;
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

@media screen and (max-width: 600px){
  .carousel-img{
    height: 40vh;
  }
}