.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.rightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.b-eco_ai {
    height: 60px;
}

@media screen and (max-width: 340px) {
    .b-eco_ai{
        width: 0;
    }
}

.b-eco_logo {
    width: 120px;
    height: 60px;
}

/* @media screen and (max-width: 780px) {
    .b-eco_logo{
        width: 0;
        height: 0;
    }
} */

.navSection {
    font-size: 1rem;
    color: #006733;
    text-decoration: None;
}

.block {
    font-size: 1rem;
    display: flex;
    cursor: pointer;
    height: 100%;
    align-items: center;
    padding-inline: 1rem;
    color: #006733;
}

.block:hover {
    color: #ffffff;
    background-color: #006733;
}