.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.rightSide {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.section {
    padding: 0 16px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.section:hover {
    color: #006733;
}